* {
	margin: 0;
	padding: 0;
}

html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

:root {
	--primary: #26fc0a;
}

@font-face {
	font-family: Bebas;
	src: url("bebas.ttf");
}

.console {
	background-color: white;
	color: #26fc0a;
}

.menu {
	top: 20%;
	right: 25%;
	position: fixed;
	font-family: arial;
	color: #6F6F6F;
	width: 202px;
	height: 458px;
	text-align: center;
}

.menu_description {
	position: absolute;
	top: 20%;
	right: 10%;
	margin-top: 11px;
	margin-left: 11px;
}

.menu_description text01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.7);
	background: rgba(0, 0, 0, 0.7);
	width: 80px;
	padding: 7px 12px;
	font-weight: 700;
	float: left;
	margin-bottom: 2px;
}

.menu_description text02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.7);
	background: rgba(255, 255, 255, 0.7);
	width: 70px;
	padding: 7px 12px;
	float: left;
	margin-bottom: 2px;
}

.menu h1 {
	background: rgba(10, 10, 10, 0.95);
	text-transform: uppercase;
	color: white;
	height: 50px;
	line-height: 50px;
	letter-spacing: 3px;
	font-size: 24px;
	color: #fff;
	font-family: Bebas !important;
	font-weight: 300;
	margin-bottom: 10px;
	border-radius: 3px;
	text-shadow: 1px 1px #000;
}

.choices {
	overflow-y: scroll;
	overflow-x: hidden;
}

.choices::-webkit-scrollbar {
	display: none;
}

.choices>div {
	text-transform: uppercase;
	background: rgba(20, 20, 20, 0.95);
	line-height: 40px;
	height: 40px;
	border: 0;
	color: #fff;
	margin-bottom: 10px;
	border-radius: 3px;
	letter-spacing: 1px;
	text-shadow: 1px 1px #000;
	border-bottom: 1px solid rgba(5, 5, 5, 0.9);
	font-size: 12px;
}

.choices .selected {
	background: #26fc0a;
	border-bottom: 1px solid rgba(5, 5, 5, 0.9);
}

.wprompt {
	font-family: Arial;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	width: 600px;
	height: 150px;
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
}

.wprompt h1 {
	font-size: 14px;
	padding: 7px 0 12px 5px;
}

.wprompt textarea {
	outline: none !important;
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.2);
	flex: 1;
	color: #ccc;
	font-size: 15px;
	width: 100%;
	padding: 10px;
	resize: none;
	box-sizing: border-box;
}

.wprompt textarea:focus {
	outline: none !important;
}

.wprompt .help {
	font-size: 12px;
	padding: 12px 0 7px 5px;
}

.requestManager {
	position: absolute;
	top: 80px;
	right: 50px;
	display: flex;
	user-select: none;
	flex-direction: column;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.requestManager .request {
	position: relative;
	width: 340px;
	height: 100px;
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 10px;
	background-color: rgba(0, 0, 0, 0.3);
}

.requestManager .request::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(265.68deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
}

.requestManager aside {
	position: relative;
	width: 50px;
	height: 100%;
	display: flex;
	color: #fff;
	align-items: center;
	justify-content: center;
	background-color: var(--primary);
}

.requestManager aside span {
	font-size: 9px;
	font-weight: bold;
	letter-spacing: 3px;
	transform: rotate(-90deg);
	text-transform: uppercase;
}

.requestManager aside::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	opacity: .2;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 30%;
	background-image: url(https://cdn.discordapp.com/attachments/646512396285902851/904152357393268757/bg.png);
}

.requestManager .request header {
	position: relative;
	width: 100%;
	height: 30px;
	margin: 10px;
	display: flex;
}

.requestManager .request header .item {
	width: 100px;
  color: #fff;
  margin: 0 3px;
  display: flex;
  font-size: 9px;
  padding: 10px 0;
  font-weight: 500;
  letter-spacing: 2px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: #26fc0a;
}

.requestManager .request header .item:first-child {
	background: #26fc0a;
}

.requestManager .request header .item b {
	font-size: 9.5px;
	margin-right: 5px;
}

.requestManager .request p {
  color: #fff;
  opacity: .9;
  width: 80%;
  font-size: 9px;
  font-weight: 400;
  line-height: 11px;
  margin-left: 15px;
  font-style: normal;
  letter-spacing: 0.07em;
}

.requestManager .request #icon {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translate(0, -50%);
}

.requestManager .request .bar {
  position: absolute;
  left: 0px;
  height: 3px;
  bottom: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.requestManager .request .bar .fill {
	width: 100%;
  height: 100%;
  background: var(--primary);
}

.request .info {
  position: absolute;
  top: 45%;
  left: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: translate(0,-50%);
}